<form>

</form>
<div ng-repeat="despacho in despachos" class="list">
	<div ng-click="seleccionaCancion(despacho)" class="item item-button-right">
	    <strong>Nombre:</strong> {{despacho.nombre}}
  	</div>
</div>