<div class="bar bar-header bar-positive">
  <h1 class="title">Lista Despachos</h1>
</div>
</br>
</br>
<ion-nav-view name="content">
</ion-nav-view>	
<div class="tabs tabs-icon-only">
	<a href="#/app/list" class="tab-item">
		<i class="icon ion-navicon"></i>
	</a>
	<a href="#/app/single" class="tab-item">
		<i class="icon ion-plus"></i>
	</a>
</div>